

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
        
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.itemsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}

.item {
    margin: 10px;
    text-align: center;
    justify-content: center;
    grid-template-columns: min-content;
    padding: 13px;  
    border-radius: 18px;
    
    background-color: rgb(212, 255, 206);
}
